.fullPage {
    width: 100%;
    height: 100vh;
    display: flex;
    box-sizing:border-box;
}

.bgImg {
    background-image: url('../../../public/backg.png');
    background-size: cover;
    background-position: center;
}

.bgGradient {
    background: linear-gradient(to right bottom, #f6e1e1 0%, #CCE3FF 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.home-container {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    /* Increased width */
    text-align: center;
}
.row-center {
    justify-content: center;
}

.col-center {
    align-items: center;
}

