.question-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.question-info {
    flex: 1;
    text-align: left;
}

.question-buttons {
    display: flex;
    gap: 10px;
}

.delete-button {
    color: orangered;
}
.add-option-button {
    /*height: 50px;*/
}

.option-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    position: relative;
}

.option-container input {
    flex: 1;
    margin-left: 2%;
    width: 98%;
}

.option-container button {
    display: none;
    position: absolute;
    right: 0;
    transform: translateY(-83%);
    width: 10%;
}

.option-container:hover button {
    display: inline;
}