body {
    background-image: url('../public/backg.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    /* Increased width */
    text-align: center;
}

button {
    margin-top: 10px;
    padding: 15px;
    /* Increased padding */
    width: 100%;
    font-size: 16px;
    /* Increased font size */
}

input {
    width: 100%;
    padding: 15px;
    /* Increased padding */
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    /* Increased font size */
}